body
{
	background-color:#F5F5F5;
}

ul
{
	text-decoration:none;
	color:#000000;
	padding: 5px;
	list-style-type:none;
}

ul a:link 
{
	text-decoration:none;
	color:#000000;
}
ul a:visited 
{
	text-decoration:none;
	color:#000000;
}
ul a:hover 
{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}
ul a:active
{
	text-decoration:none;
	color:#000000;
}

form, form div
{
	display: inline;
}

#headContent h1 a
{
	text-decoration:none;
	color:#FFFFFF;
}

#headContent h1 a:hover 
{
	color: #FDFDFD;
	text-decoration:underline;
}

/******************************************************/
#content
{
	background-color:#FCFCFC;
	width: 850px;
	height: 100%; 
	margin:auto;
	padding-bottom:10px;
	float:center;
	padding: 5px;
	box-shadow: 0px 0px 10px #888888;
	position:relative
}

#content h1
{
	display: inline;
}

#content h3
{
	display: inline;
	padding-bottom: 10px;
}

#content b
{
	display: inline-block;
	padding-left: 11px;
	padding-right: 20px;
}

.derp
{
	float: right;
}

#head
{
	background-color: #13385D;
	height: auto;
	width: auto;
	margin: 10px;
	padding: 4px;
	box-shadow: 0px 0px 10px #888888;
}

#headContent
{
	width: 850px;
	height: 100%;
	margin: auto;
}

#rules
{
	width: 800px;
	text-align:left;
	margin:auto;
	float:center;	
	border-bottom: solid;
	border-color:blue;
	border-width:1px;
}

/*left center right*/
#rules .box1
{
	/*margin:auto;*/
	display:table-cell;
	width:25px;
	
}
#rules .box2
{
/*	margin:auto;*/
	display:table-cell;
	
	width:700px;
	
	border-left:dashed;
	border-right:dashed;
	border-color:blue;
	border-width:1px;
	
	padding-left:5px;
	padding-right:5px;
	
}
#rules .box3
{
	width:50px;
	padding-left:5px;
	/*margin:auto;*/

	display:table-cell;
}

#footer
{
 bottom:0;
}
