body
{
	background-color:#F5F5F5;
}

ul
{
	text-decoration:none;
	color:#000000;
	padding: 5px;
	list-style-type:none;
}

ul a:link 
{
	text-decoration:none;
	color:#000000;
}
ul a:visited 
{
	text-decoration:none;
	color:#000000;
}
ul a:hover 
{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}
ul a:active
{
	text-decoration:none;
	color:#000000;
}

form, form div
{
	/*display: inline;*/
}

#headContent h1 a
{
	text-decoration:none;
	color:#FFFFFF;
}

#headContent h1 a:hover 
{
	color: #FDFDFD;
	text-decoration:underline;
}

#headContent p
{
	color: #FDFDFD;
}

/******************************************************/
#content
{
	background-color:#FCFCFC;
	width: 850px;
	height: 100%; 
	margin:auto;
	padding-bottom:10px;
	float:center;
	padding: 5px;
	box-shadow: 0px 0px 10px #888888;
	position:relative
}

#content h1
{
	display: inline;
}

#content h3
{
	display: inline;
	padding-bottom: 10px;
}

#content b
{
	display: inline-block;
	padding-left: 11px;
	padding-right: 20px;
}

#content em
{
	float: right;
}

.derp
{
	float: right;
}

#head
{
	background-color: #13385D;
	height: auto;
	width: auto;
	margin: 10px;
	padding: 4px;
	box-shadow: 0px 0px 10px #888888;
}



#headContent
{
	width: 850px;
	height: 100%;
	margin: auto;
}

#headContent a
{
	color:#FDFDFD;	
}

.test label
{
	color: #FDFDFD;
}


#container
{
	width: 100%;
	overflow: hidden;
}

#tall
{
	width: 2%;
	float: left;
		
}

#titles
{
	width: 32%;
	text-align: left;
	float: left;
	margin: auto;	
}

#replies
{
	width: 32%;
	float: left;
	margin: auto;
}

#lastA
{
	width: 32%;
	float: left;
	margin: auto;
}




/*left center right*/




#footer
{
 bottom:0;
}
